#content {
    margin: 0 auto;
    max-width: 900px;
}

.masthead {
    max-width: 100%;
    margin: 0 auto;
}

#headline {
    margin: 0 auto;
    max-width: 100%;
    font-family: Helvetica, sans-serif;
    padding: 25px;
    font-weight: 600;
    color: #400101;
    font-size: 300;

    
}
#name {
    max-width: 45%;
    font-weight: 300;
}
#byline {
    font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
margin: 0 auto;
padding-bottom: 25px;
}

img {
    width: 70%;
    padding: 25px;
    margin: 0 auto;}

.blockquote {
        background-color: #fff;
        padding: 2rem 0rem;
        color:#400101;
        font-family: 'Gelasio', serif;
        border-bottom-style: solid;
    border-top-style: solid #c90303;}
      

.source {
    font-family: Helvetica, sans-serif;
font-size: 1em;
font-style: italic;
margin: 0 auto;
padding-bottom: 4%;
}

.Read {
    margin: 0 auto;
    max-width: 100%;
    font-family: Helvetica, sans-serif;
    padding: 25px;
    font-size: 600;
    color: #400101;
    max-width: 100%;
}

a:link {
    color: #400101;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: navy;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
